CODE/backend/build/
CODE/backend/test_results_1751990418.json
CODE/backend/test_results_1751990622.json
CODE/backend/test_results_1751990745.json
CODE/backend/test_results_1751990819.json
CODE/backend/test_results_1751990963.json
CODE/backend/test_results_1751991107.json
CODE/backend/test_results_1751991147.json
CODE/frontend/node_modules/
CODE/frontend/build/
CODE/frontend/dist/
CODE/backend/config/config.json.bkp
CODE/backend/config/config.json
